.front-container
  position: absolute;
  top: 50%;
  left: 50%;
  width: 900px;
  //margin: 0 auto;
  text-align: center;
  transform: translate(-50%, -50%);

  span
    color: #fff;

  .front-title
    font-size: 3rem;

  .front-body
    margin-top: 40px;
    font-size: 1.5rem;

    .front-techs
      span:not(:last-child):after
        content: ',';
        padding-right: 4px;

    > span
      display: b4lock;

    .front-operation
      font-size: 1.2rem;

  .front-button
    margin-top: 30px;
