html, body, #root {
  margin: 0;
  height: 100%;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
}

body, h1, h2, h3 {
  font-weight: 300
}

div[fountain-app] {
  height: inherit;
}

a {
  color: white;
  text-decoration: none;

  &:hover {
    color: #5aadbb;
  }
}

body {
  height: 100%;
  overflow: hidden;
}

*, 
*:after,
*:before {
  margin: 0;
  padding: 0;
}

@import 'app/common.styl'
@import 'app/main.styl'
@import 'app/front/front.styl'
@import 'app/experience/experience.styl'
@import 'app/evelope/evelope.styl'
